@font-face {
  font-family: Karla-Bold;
  src:url('fonts/Karla-Bold.ttf');
}
@font-face {
  font-family: Karla-BoldItalic;
  src:url('fonts/Karla-BoldItalic.ttf');
}
@font-face {
  font-family: Karla-Italic;
  src:url('fonts/Karla-Italic.ttf');
}
@font-face {
  font-family: Karla-Regular;
  src:url('fonts/Karla-Regular.ttf');
}
@font-face {
  font-family: "Flaticon";
  src: url("fonts/flaticon.eot");
  src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("fonts/flaticon.woff") format("woff"),
  url("fonts/flaticon.ttf") format("truetype"),
  url("fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src:url('fonts/codropsicons/codropsicons.eot');
  src:url('fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('fonts/codropsicons/codropsicons.woff') format('woff'),
    url('fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-email19:before {
  content: "\e000";
}
.flaticon-facebook55:before {
  content: "\e001";
}
.flaticon-google116:before {
  content: "\e002";
}
.flaticon-pinterest3:before {
  content: "\e003";
}
.flaticon-twitter13:before {
  content: "\e004";
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover,
a:focus,
button:hover{
  text-decoration: none;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* 
  palette 
  #008efe blue
  #bcbec0 grey
  #848484 darkgrey
  #ffffff white
*/

body{
  font-family: Karla-Regular, sans-serif;
  background: url('images/rec_bg.png') no-repeat 50% 0;
}

/* header */
header{
  padding: 22px 100px;
}
  header .logo{
    
  }
  header .navbar_button{
    width: 60px;
    height: 45px;
    position: relative;
    margin-top: 12px;
    margin-left: 30px;

    background-color: transparent;
    background-image: none;
    cursor: pointer;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    
  }
    header .navbar_button span{
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      opacity: 1;
      left: 0;

      background: #008efe;
      border-radius: 3px;
      

      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
      header .navbar_button span:nth-child(1) {
        top: 0px;
      }

      header .navbar_button span:nth-child(2) {
        top: 18px;
      }

      header .navbar_button span:nth-child(3) {
        top: 36px;
      }

      header .navbar_button.open span:nth-child(1) {
        top: 18px;

        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      header .navbar_button.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      header .navbar_button.open span:nth-child(3) {
        top: 18px;

        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
  header .nav_menu{
    display: none;
    text-align: left;
    position: relative;
    z-index: 1;
  }    
    header .nav_menu li{
      display: inline-block;
      padding: 25px 10px 0;


      font-size: 15pt;
    }

header .cart{
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 10px;

  background: url('images/cart.png') no-repeat 0 0;
  -webkit-background-size: cover;
  background-size: cover;
}

/*test*/
.container-fluid {
  text-align: center;
}

/* big blue section title */
.section_title{
  padding: 100px 0;

  background: #008efe;
  color: #ffffff;
  text-align: center;
}
  .section_title span{
    padding-bottom: 20px;

    font-size: 28pt;
    border-bottom: 1px solid #fff;
  }

/* slider top */ 
.slider_top{
  /* add relative for positioning slider navs */
  position: relative;
  height: 600px;
  margin: 50px 0;
}
  /* slide text stylize*/
  .slider_top p{
    font-size: 28pt;
    color: #008efe;
  }
  .slider_top .slide_tooltip{
    position: absolute;
    text-align: left;
  }
    .slider_top .slide_tooltip_boots{
      top: 35%;
      left: 35%;
    }
    .slider_top .slide_tooltip_price{
      bottom: 0;
      right: 0;
    }
  #ninja-slider .container-fluid{
    position: relative;
  }

/* promo images */
.promo_images .slide {
  color: #fff;
  height: 600px;
  padding: 0;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

  .promo_images .slide_one{
    background: url('images/slide_1_mask.jpg') no-repeat 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
    .promo_images .slide_one:hover{
      background: url('images/slide_1.jpg') no-repeat 0 0;
      -webkit-background-size: cover;
      background-size: cover;
    }
  .promo_images .slide_two{
    background: url('images/slide_2_mask.jpg') no-repeat 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
    .promo_images .slide_two:hover{
      background: url('images/slide_2.jpg') no-repeat 0 bottom;
      -webkit-background-size: cover;
      background-size: cover;
    }
  .promo_images .slide_three{
    background: url('images/slide_3_mask.jpg') no-repeat 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
    .promo_images .slide_three:hover{
      background: url('images/slide_3.jpg') no-repeat 0 bottom;
      -webkit-background-size: cover;
      background-size: cover;
    }


/* slider feedback */
.feedback{
  text-align: center;
  padding: 100px 0 50px;

  background: #f9f9f9;
}
  /* feedback title styles*/
  .feedback .feedback_title{
    display: inline-block;
    margin-bottom: 75px;

    font-size: 28pt;
    color: #008efe;
  }
    .feedback .feedback_title span{
      border-bottom: 1px solid #008efe;
      padding-bottom: 25px;
    }
  
  /* feedback slider*/
  .feedback_slider{
    margin-bottom: 50px;
  }

  /* feedback order button styles*/
  .feedback .order_btn{
    display: inline-block;
    padding: 10px 30px;
    
    font-size: 24pt;
    text-align: center;
    color: #fff;
    background: #008efe;
    vertical-align: middle;
    
    -moz-border-top-left-radius: 35px;
    -webkit-border-top-left-radius: 35px;
    border-top-left-radius: 35px;
    -moz-border-bottom-left-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;
    border-bottom-left-radius: 35px;
    -moz-border-top-right-radius: 35px;
    -webkit-border-top-right-radius: 35px;
    border-top-right-radius: 35px;
    -moz-border-bottom-right-radius: 35px;
    -webkit-border-bottom-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }


/* about product */
.about_product{
  margin-bottom: 100px;
}
  /* slider */
  #slideshowWrapper{
    margin-top: 50px;
    position:relative;
  }
  #slideshow{
    list-style:none;
    padding: 2px;
    width: 100% !important;
    min-height: 600px;
    overflow:hidden;
  }
    #slideshow li {
      width: 100% !important;

      background: #fff;
      text-align: left;
      font-size: 21pt;
      color: #252525;
    }
    #slideshow p{
      position: relative;
      padding: 40px 0 0 40px;
    }
    #slideshow span{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;

      border: 3px solid #008efe;
      color: #008efe;
    }

  /* ico's */
  .about_product .ico_wr{
    margin-top: 100px;
  }
  .about_product .ico{
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto;

    cursor: pointer;
    font-size: 18pt;

    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
    @media(max-width: 991px){
      .ico_1:hover:before,
      .ico_2:hover:before,
      .ico_3:hover:before{
        bottom: inherit;
        top: -48px;
      }
    }
    .about_product .ico:before{
      display: none;
      position: absolute;
      bottom: -48px;
      left: 0;
      width: 100%;

      color: #008efe;
    }
  .ico_1{
    background: url('images/ico_1.png') no-repeat 0 0;
  }
    .ico_1:hover:before{
      content: 'Reduces sweat';
      display: block;
    }
    .ico_1:hover{
      background: url('images/ico_1_hover.png') no-repeat 0 0;   
    }
  .ico_2{
    background: url('images/ico_2.png') no-repeat 0 0;
  }
    .ico_2:hover:before{
      content: 'Lightweight';
      display: block;
    }
    .ico_2:hover{
      background: url('images/ico_2_hover.png') no-repeat 0 0;   
    }
  .ico_3{
    background: url('images/ico_3.png') no-repeat 0 0;
  }
    .ico_3:hover:before{
      content: 'Minimises heat';
      display: block;
    }
    .ico_3:hover{
      background: url('images/ico_3_hover.png') no-repeat 0 0;   
    }
  .ico_4{
    background: url('images/ico_4.png') no-repeat 0 0;
  }
    .ico_4:hover:before{
      content: 'Reduces discomfort';
      display: block;
    }
    .ico_4:hover{
      background: url('images/ico_4_hover.png') no-repeat 0 0;   
    }
  .ico_5{
    background: url('images/ico_5.png') no-repeat 0 0;
  }
    .ico_5:hover:before{
      content: 'Prevent friction';
      display: block;
    }
    .ico_5:hover{
      background: url('images/ico_5_hover.png') no-repeat 0 0;   
    }
  .ico_6{
    background: url('images/ico_6.png') no-repeat 0 0;
  }
    .ico_6:hover:before{
      content: 'Ultra-thin';
      display: block;
    }
    .ico_6:hover{
      background: url('images/ico_6_hover.png') no-repeat 0 0;   
    }

/* about us*/
.about_us{}
  .about_us .story{
    text-align: left;
    text-transform: uppercase;
  }
    .about_us .story .title{
      color: #bcbec0;
      font-size: 43pt;
    }
    .about_us .story .text{
      color: #848484;
      font-size: 20pt;
    }

/* instagram */
.instagram{
  padding-top: 100px;
  padding-bottom: 50px;
}
  .instagram .title{
    color: #bcbec0;
    font-size: 43pt;
    font-family: Karla-Bold, sans-serif;
  }
    .instagram .title a{
      display: inline-block;
      padding: 5px 20px;
      margin-left: 40px;
      
      font-family: Karla-Regular, sans-serif;
      font-size: 25pt;
      color: #008efe;
      border: 2px solid #008efe;

      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
      .instagram .title span{
        font-family: Karla-Bold, sans-serif;
        color: #008efe;
        text-transform: uppercase;
      } 
  .instagram_promo{
    margin-top: 40px;
    padding: 8px 0;

    background: #fafafa;
  }

/* contact us */
.contact_us{}
  /**/
  .show_hidden_contacts{
    cursor: pointer;
    font-size: 20pt;
    color: #848484;
  }
  .hidden_contacts{
    display: none;
    margin-top: 30px;

    text-align: left;
    font-size: 18pt;
  }
    .hidden_contacts.open{
      display: block;
    }
    .hidden_contacts p{
      color: #848484;
      margin-bottom: 15px;
    }
      .hidden_contacts p.post{
        margin-top: 30px;
      }
    .hidden_contacts a{
      color: #008efe;
      font-family: Karla-Bold, sans-serif;
    }
    .hidden_contacts span{
      color: #494949;
    }

  /**/
  .contact_us form{
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .contact_us input,
  .contact_us textarea,
  .fake-select-wrap,
  .fake-select-mask,
  .fake-select-mask button{
    width: 100%;
    
    font-family: Karla-Bold, sans-serif;
    color: #008efe;
    font-size: 28pt;
    background-color: #fff;
    text-align: left;
  }
    .contact_us input:focus,
    .contact_us textarea:focus{
      box-shadow: none;
      outline: none;
    }
  .fake-select-wrap .caret{
    display: none;
  }
  .fake-select-mask button{
    white-space: nowrap;
    overflow: hidden;
  }
  .fake-select-mask .dropdown-menu{
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
    .fake-select-mask .dropdown-menu a{
      background: #008efe;
      color: #fff;
      font-size: 15pt;
    }
      .fake-select-mask .dropdown-menu a:hover{
        background: #def0fc;
        color: #008efe;
      }

  ::-webkit-input-placeholder {color:#008efe;}
  ::-moz-placeholder          {color:#008efe;}
  :-moz-placeholder           {color:#008efe;}
  :-ms-input-placeholder      {color:#008efe;}

  .contact_us input,
  .fake-select-mask button{
    margin-top: 7px;
    padding: 8px 20px;

    border: none;
    border-bottom: 5px solid #008efe;

    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
    .contact_us input:focus{
      background: #def0fc;
    }
  .contact_us textarea{
    padding: 8px;
    border: 5px solid #008efe;
  }
  .contact_us .send{
    margin-top: 50px;
    padding: 17px 150px 17px 50px;
    
    font-size: 28pt;
    border: none;
    background: #008efe url('images/button_send_arrow.jpg') no-repeat 90% 50%;
    color: #fff;
  }

/* pre footer */
.pre_footer{
  padding: 100px 0 50px;
  margin-bottom: 50px;

  background: #008efe;
  color: #fff;
  text-align: center;
}
  .pre_footer .btn{
    display: inline-block;
    margin-left: 15px;
    border: 3px solid transparent;
    
    padding: 20px 0px;
    font-size: 36pt;
    width: 350px;

    -moz-border-top-left-radius: 50px;
    -webkit-border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    -moz-border-bottom-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
    -moz-border-top-right-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    -moz-border-bottom-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
    .pre_footer .btn:hover{
      text-decoration: none;
    }
    .pre_footer .order{
      color: #008efe;
      background: #fff;
    }
    .pre_footer .faq{
      background: #008efe;
      color: #fff;
      border: 3px solid #fff;
    }

  .pre_footer p{
    margin-top: 50px;

    font-size: 26pt;
  }
  /* faq modal stylize*/
  .modal-content{
    border-radius: 0;
  }
  .modal-header{
    border-bottom: none;
  }
  .modal-body{
    text-align: left;
  }
    .modal-body ul{}
    .modal-body li{
      padding: 20px 10px 20px 50px;

      border-bottom: 1px solid #747474;
    }
      .modal-body li:last-child{
        border-bottom: none;
      }
      .modal-body li.active p{
        display: block;
      }
      .modal-body li.active .faq_title{

      }
    .modal-body .faq_title{
      display: block;
      padding-right: 50px;
      
      cursor: pointer;
      color: #008efe;
      font-size: 20pt;
    }
    .modal-body p{
      display: none;
      margin-top: 20pt;

      font-size: 15pt;
    }
    .modal-body p > span{
      text-decoration: underline;
      font-weight: bold;
    }

/* footer */
footer{
  color: #747474;
  text-align: center;
  font-size: 18pt;
}

  footer a{
    display: inline-block;
    margin: 0 5px;

    color: #747474;
    height: 25px;
    width: 35px;

  }
    footer a:hover{
      color: #008efe;
    }
  
  footer p{
    margin-top: 25px;
  }


/* feedback slider*/
@media(max-width: 767px){
  /* feedback */
  .slider ul{
    width: auto !important;
  }
  #feedback_slider .nav{
    display: none;
  }
  .feedback_title span{
    border-bottom: none !important;
  }

}
.slider {
  z-index: 9;
  min-height: 400px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
  .slider ul,
  .slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .slider ul {
    width: 9999px; 
  }
  .slider ul li {
    list-style-type: none;
    float: left;
    min-height: 400px;
  }
  .slider .nav {
    position: absolute;
    right: 25px;
    bottom: 10px; 
  }
  .slider .nav span {
    display:block;
    width: 15px;
    height: 15px;
    background-color: #bcbec0;
    font-size:0;
    margin: 6px 10px;
    cursor:pointer;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    float: left;
  }
  .slider .nav span.on {
    background: #008efe;
  }

#feedback_slider{
  margin-bottom: 50px;
}
  #feedback_slider .left{
    margin-bottom: 25px;
  }
    #feedback_slider .name{
      font-size: 32pt;
      font-family: Karla-Bold, sans-serif;
    }
    #feedback_slider .position{
      font-size: 22pt;
      font-family: Karla-Italic, sans-serif;
    }
    #feedback_slider .type{
      font-size: 20pt;
      color: #848484;
    }
  #feedback_slider img{
    height: 200px;
    display: inline-block;
  }
  #feedback_slider .right{
    font-size: 22pt;
    color: #595959;
  }
    #feedback_slider .right div{
      padding: 30px;
      background: #eaeaea;
    }

